body{
    font-family: Open Sans;
}
.hero-image {
    background-image: url("../images/banner.jpg");
    background-attachment: fixed;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .topDiv{
      margin-top: 80px;
      margin-left: 400px;
  }
